@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));
@custom-variant hover (&:hover);

:root {
  font-family: "Ubuntu", "Noto Sans TC", sans-serif;
}

* {
  @apply dark:text-white box-border;
  scrollbar-width: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition-duration: 86400s;
  transition-timing-function: linear;
}
