@reference "../index.css";

@utility bg-school {
  background-image: url("https://cdn.hypernix.dev/img/bg.webp");
  background-size: cover;
  background-repeat: no-repeat;
}

#background {
  @apply w-svw h-svh bg-school
}

#outer {
  @apply w-full h-full dark:bg-black/50 backdrop-blur-xl backdrop-brightness-105 p-2
}

#inner {
  @apply w-full h-full bg-school rounded-xl inset-shadow-[0_0_8px_rgba(0,0,0,.25)] dark:inset-shadow-none flex box-border overflow-x-hidden overflow-y-scroll
}
